.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
}

.info-logo {
  flex: 0.4;
  background-color: darkgreen;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.info-logo img {
  height: 5rem;
  margin: 15% 80px;
}

.info-logo .title .text {
  font-size: 25px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.471);
  color: rgb(249, 249, 92);
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 10% auto;
  left: 0;
  right: 0;
  text-align: center;
}


.log-in {
  flex: 1;
  background-image: url('../../img/stgocamp.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.log-in .form .form-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: azure;
  font-size: 20px;
  text-shadow: 0 0 2px black;
  letter-spacing: 1px;
  padding: 10px;
  background-color: darkgreen;
  margin-left: 0;
}

.log-in form {
  background-color: #55b4359f;
  margin: auto auto;
  padding: 40px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.471);
  width: 300px;
}

.log-in form .page-links {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.log-in form .page-links a {
  font-weight: bold;
  color: white;
  margin-right: 30px;
  position: relative;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 5px solid white;
  padding-bottom: 4px;
}

.log-in form .page-links a.active {
  border-bottom: 5px solid yellow;
  font-weight: 700;
  color: yellow;
}

.log-in form .page-links a:after {
  position: absolute;
}

.log-in form .page-links a.active:after {
  background-color: rgba(255, 255, 0, 0.6);
}

.log-in form .input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 2px 0;
  justify-content: flex-start;
}

.log-in form .input-container .input-container-addon {
  background-color: rgb(220, 215, 215);
  padding: 7px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.log-in form .input-container .input-container-addon .fa {
  color: #555;
  font-size: 23px;
  margin: 0px 5px 0 5px;
}

.log-in form .button .submit {
  cursor: pointer;
  border-radius: 10px;
  background-color: darkgreen;
  color: white;
  width: 100%;
  padding: 5px 5px;
  border: 1px solid #005900;
}

.log-in form .button .submit:hover {
  opacity: 0.8;
}

.log-in form .input-container .input-style {
  padding: 10.5px;
  outline: none;
  border: 1px solid #dedede;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #555;
  width: 150%;
}

.log-in form .input-container.input-style.error {
  border-color: red;
}

.selected-image-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  position: relative;
  margin: auto auto 20px auto;
  

}

#image-label {
  display: block;
  color: white;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

#selected-image {
  width: 60px;
  height: 60px;
  border-radius: 35px;
  position: relative;
  border: 5px solid #DCDCDC;
}
.round {
  position: absolute;
  bottom: 0px;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

.show-password {
  display: flex;
  color: white;
  margin-bottom: 10px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .background {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-logo {
    position: relative;
    flex: 1;
    right: auto;
    left: auto;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .info-logo img {
    margin: 0;
  }

  .info-logo .title .text {
    font-size: 20px;
    margin: 20px;
  }

  .log-in,
  .register {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    color: white;
  }

  .log-in .form,
  .register .form {
    width: 300px;
    padding: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.471);
    background-color: #55b4359f;
  }

  .log-in form .input-container,
  .register form .input-container {
    justify-content: flex-start;
  }

  .log-in form .button,
  .register form .button {
    margin-top: 20px;
  }

  .log-in form .input-container .input-style,
  .register form .input-container .input-style {
    width: 100%;
  }
}

